{%extends "base.html"%}
{% block content %}
<div class="Career">
     <h1>Career Page</h1>
     <p>Here at Script Spinner, we are always looking to bring on talented and motivated people to help bring this thing to life. 
     If you’re interested in a position with us, send an email to scriptspinner@gmail.com with your name, resume, and what makes you someone we should hire!</p>
     <p> Even if we aren't currently hiring we still love to see what great prospects are out there for future positions. </p>
<img src="career.jpg" alt="Career Image" style="width300px; height: 300px;">
<div>
{%endblock%}
