{%extends "base.html"%}
{% block content %}
<div class="Contact">
     <h1>Contact Page</h1>
  
     <p>Have questions regarding your Script Spinner subscription? 
     We are here to assist you! Email us with your name and issue and one of our trusted associates will get back to you as quickly as possible! 
     Prefer to chat in real-time? Click on the Chat Support button below!
Email: Scriptspinner@gmail.com

Number: 903-283-3751 

CHAT HOURS

Monday-Friday: 8:00 AM -5:00 PM (CST)

Want to see more Script Spinner? Follow us on our socials!
Instagram: @scriptspinner                         Twitter: @scriptspinner
Facebook: @scriptspinner                         TikTok: @scriptspinner
</p>
<img src="chat.jpg" alt="Chat Image" style="width300px; height: 300px;">

<div class="chat-popup" id="myForm">
  <form action="/action_page.php" class="form-container">
    <h1>Chat With Us!</h1>

    <label for="msg"><b>What's going on!</b></label>
    <textarea placeholder="Type message here..." name="msg" required></textarea>

    <button type="chat now" class="btn">Send</button>
    <button type="button" class="btn cancel" onclick="closeForm()">I'm Finished</button>
  </form>
</div>



<div>
{%endblock%}
