{% extends 'base.html' %}
{% load static %}

{% block title %}Script Spinner{% endblock %}

{% block css %}
{% endblock %}

{% block main %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Script Spinner <br>made simple</h1>
          <h2>Simple and complete software solution for script writing</h2>
          <div class="d-flex">
            <a href="#" class="btn-get-started scrollto">Get Started</a>
            <a href="#" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="{% static 'img/hero-img.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="icofont-computer"></i></div>
              <h4 class="title"><a href="">Coming Soon!</a></h4>
              <p class="description">Stay tuned for next update!</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="icofont-image"></i></div>
              <h4 class="title"><a href="">Coming Soon!</a></h4>
              <p class="description">Stay tuned for next update!</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="icofont-tasks-alt"></i></div>
              <h4 class="title"><a href="">Coming Soon!</a></h4>
              <p class="description">Stay tuned for next update!</p>
            </div>
          </div>
        </div>

      </div>
      <p></p>
    </section><!-- End Featured Services Section -->

  </main><!-- End #main -->

{% endblock %}

{% block js %}
{% endblock %}